.ui-tilezoomcontainer {

	position:relative;

	height:100%;

	background:#333333;

	overflow:hidden;

	.ui-tilezoommap {

		position:absolute;

		left:15px;
		bottom:15px;
		z-index:10;

		border:solid 3px white;
		box-shadow:0 0 8px black;
	}

	.ui-wheelmenu {

		position:absolute;

		li {

			z-index:10;
		}
	}
}