.tilezoom-overviewmap {

	position:relative;

	margin-top:20px;
	width:550px;
	height:72px;
	border:solid 1px black;

	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;

	.control-rectangle {

		position:absolute;
		border:solid 2px red;

		@include box-sizing(border-box);
	}

	.control-rectangle.dragging, .control-rectangle:HOVER {

		cursor:move;
		background:rgba(0, 0, 0, 0.2);
	}
}