div.zoom-container {

	position:relative;

	overflow:hidden;

	&.zoom-full {

		left:0 !important;
		top:0 !important;
		margin:0 !important;
		padding:0 !important;
		height:100% !important;
		width:100% !important;
	}

	div.zoom-tiles {

		position:relative;
		top:0;
		left:0;


		width:100%;
		z-index:1;
	}

	div.zoom-holder {

		position:relative;
	
		left:0;
		top:0;
		width:0;
		height:0;

		overflow:hidden;

		img.zoom-thumb {

			position:absolute;
			top:0;
			left:0;

			z-index:0;
		}

		.grab {

			cursor:default;
		}
		.grabbing {

			cursor:move;
		}
	}

/*	ZOOM-HOTSPOTS */
	div.zoom-hotspots a {

		position:absolute;
	
		background:url("images/hotspot.png") no-repeat 0 0;
		display:block;
		overflow:hidden;
		text-indent:-9999px;
		width:24px;
		height:24px;
		margin:-12px 0 0 -12px;

		&.active {

			background:url("images/hotspot_active.png") no-repeat 0 0;
			width:40px;
			height:40px;
			margin:-15px 0 0 -15px;
		}
	}
}