.ui-tilezoomcontainer {

	position: relative;

	height: 100%;

	background: black;

	overflow: hidden;

	/* TILEZOOMMAP */
	.ui-tilezoommap {

		position: absolute;

		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;

		padding-top: 5px;
		background: red;

		box-shadow: 0 0 8px black;
	}

	.ui-tilezoommap-wrapper {

	}

	/* WHEELMENU */
	.ui-wheelmenu {

		position: absolute !important;

		li {

			z-index: 10;
		}
	}
}

.ui-tilezoomcontainer-wrapper {

	position: absolute;

	top: -50px;
	right: -50px;
	bottom: -50px;
	left: -50px;
}