.ui-wheelmenu {

	position:relative;
	width:150px;
	height:150px;

	ul {

		list-style-type:none;
	}

	li {

		position:absolute;

		@include transition(left 0.3s ease, top 0.3s ease);

		&.state-active {

			@include transition(left 0.5s cubic-bezier(0.385, 0.810, 0.435, 1.295), top 0.5s cubic-bezier(0.385, 0.810, 0.435, 1.295));
		}

		a {

			display:block;

			font-family:'FontAwesome';
			font-size:14px;

			width:32px; height:32px;
			text-decoration:none;

			background:#ececec; /* Old browsers */
			background:-moz-linear-gradient(top, #ececec 0%, #ffffff 100%); /* FF3.6+ */
			background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			background:-webkit-linear-gradient(top, #ececec 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
			background:-o-linear-gradient(top, #ececec 0%,#ffffff 100%); /* Opera 11.10+ */
			background:-ms-linear-gradient(top, #ececec 0%,#ffffff 100%); /* IE10+ */
			background:linear-gradient(to bottom, #ececec 0%,#ffffff 100%); /* W3C */
			filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

			@include border-radius(32px);
			box-shadow:1px 1px 4px rgba(0, 0, 0, 0.8);

			color:#333333;
			line-height:32px;
			text-align:center;

			&:HOVER {

				color:white;
				background:#008cba;
				text-decoration:none;
			}

			&.zoom-in:BEFORE {

				content:'\f00e';
			}
			&.zoom-out:BEFORE {

				content:'\f010';
			}
			&.go-home:BEFORE {

				content:'\f066';
			}
			&.overviewmap:BEFORE {

				content:'\f041';
			}
		}
	}
}

.ui-wheelmenu-toggle {

	position:absolute;
	display:block;
	z-index:100;

	font-family:'FontAwesome';
	font-size:18px;

	top:50%;
	left:50%;

	cursor:pointer;

	margin:-20px 0 0 -20px;
	color:black;

	background:white;
	border:solid 1px #999999;

	box-shadow:0 0 10px rgba(0, 0, 0, 0.8);

	width:40px; height:40px;
	line-height:40px;
	text-align:center;

	@include border-radius(32px);
	@include transition(transform 0.3s linear);

	&:HOVER {

		color:#008cba;
	}

	&:BEFORE {

		content:'\f067';
	}

	&.expand {

		color:white;
		background:#008cba;
		border-color:#00a9e1;

		@include transform(rotate(45deg));
	}
}